*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(50, 50, 50);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background: #939393;
    display: inline-block;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    padding: 20px 40px;
    border: 1px rgb(227, 187, 67) solid;
    border-radius: 20px;
    color: rgb(236, 188, 42);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.btns{
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    justify-content: center;
    
}

#btn1 {
    background-color: grey;
    color: white;
    border: none;
    padding: 20px 20px;
    margin-right: 5px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

#btn2 {
    background-color: grey;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

ul li {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* width: 60%; */
    height: 300px;
}

